h1 {
    color: white;
}




.modal-container {
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
  
    margin: auto;
    text-align: center;
}

.close {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    padding: 15px;
    margin-left: 55%;
    margin-top: 10%;
    
}

.search {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 40px;
    width: 50%;
    margin-top: 90px;
    padding: 15px;
    font-family: "roboto";
    color: white;
}

.search-go {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    padding: 15px;
    
}