.home-here {
    background-color: black;
    
    width: 80%;
    
    margin: 10px auto;
    text-align: center;
    
}



.home-container {
    
    width: 90%;
    margin: 20px auto;
    
    color: #cc3333;
    font-family: "roboto";
}

.home-container h1 {
    color: white;
    margin: 0px;
    padding: 10px;
}

.home-container h2 {
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}

.descript h2 {
    color: #cc3333;
    margin: 5px;
}

.descript {
    display: flex;
    justify-content: center;
}

.results-here {
    background-color: black;
    
    width: 80%;
    
    margin: 10px auto;
    text-align: center;
    
}

.results-here h2 {
    color: white;
    font-family: "roboto";
    font-size: 16px;
    padding: 15px;
}

#no-results {
    color: white;
    font-family: "roboto";
}

.movie-here {
    background-color: black;
    
    width: 80%;
    
    margin: 10px auto;
    text-align: center;
    
}

.profile-here {
    background-color: black;
    
    width: 80%;
    
    margin: 10px auto;
    text-align: center;
    
}

.spinner-div {
    margin-top: 25px;
    color: #cc3333;
}

.four {
    width: 100%;
    height: auto;
    position: absolute;
}

.to-home {
    position: relative;
    z-index: 10;
    left: 30px;
    top: 30px;
}

.four-logo {
    height: 60px;
    width: auto;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }