.landing-header {
    position: relative;
}

.landing-logo {
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}


.social {
    position: absolute;
    bottom: 20px;
    left: 85%;
}

.social a {
    color: rgba(255, 255, 255, 0.342);
    font-size: 20px;
    padding-left: 10px;
}

.social a:hover {
    color: white;
}